<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Publisher
        PUBLIC "-//Springer-Verlag//DTD A++ V2.4//EN" "http://devel.springer.de/A++/V2.4/DTD/A++V2.4.dtd">
<Publisher>
    <PublisherInfo>
        <PublisherName>Springer-Verlag</PublisherName>
        <PublisherLocation>Berlin/Heidelberg</PublisherLocation>
    </PublisherInfo>
    <Journal>
        <JournalInfo JournalProductType="ArchiveJournal" NumberingStyle="Unnumbered">
            <JournalID>12536</JournalID>
            <JournalPrintISSN>0490-219X</JournalPrintISSN>
            <JournalTitle>Trabajos de Estadistica</JournalTitle>
            <JournalAbbreviatedTitle>Trabajos de Estadistica</JournalAbbreviatedTitle>
            <JournalSubjectGroup>
                <JournalSubject Type="Primary" Code="SX">Statistics</JournalSubject>
                <JournalSubject Type="Secondary" Priority="1" Code="S0000X">Statistics, general</JournalSubject>
            </JournalSubjectGroup>
        </JournalInfo>
        <Volume>
            <VolumeInfo VolumeType="Regular" TocLevels="0">
                <VolumeIDStart>3</VolumeIDStart>
                <VolumeIDEnd>3</VolumeIDEnd>
                <VolumeIssueCount>3</VolumeIssueCount>
            </VolumeInfo>
            <Issue IssueType="Regular">
                <IssueInfo TocLevels="0">
                    <IssueIDStart>3</IssueIDStart>
                    <IssueIDEnd>3</IssueIDEnd>
                    <IssueArticleCount>10</IssueArticleCount>
                    <IssueHistory>
                        <CoverDate>
                            <Year>1952</Year>
                            <Month>10</Month>
                        </CoverDate>
                    </IssueHistory>
                    <IssueCopyright>
                        <CopyrightHolderName>Springer-Verlag</CopyrightHolderName>
                        <CopyrightYear>1952</CopyrightYear>
                    </IssueCopyright>
                </IssueInfo>
                <Article ID="Art2">
                    <ArticleInfo Language="Es" ArticleType="OriginalPaper" NumberingStyle="Unnumbered" TocLevels="0"
                                 ContainsESM="No">
                        <ArticleID>BF03028458</ArticleID>
                        <ArticleDOI>10.1007/BF03028458</ArticleDOI>
                        <ArticleSequenceNumber>2</ArticleSequenceNumber>
                        <ArticleTitle Language="Es">Sobre una generalizacion de las curvas de Pearson al caso
                            bidimensional
                        </ArticleTitle>
                        <ArticleFirstPage>273</ArticleFirstPage>
                        <ArticleLastPage>313</ArticleLastPage>
                        <ArticleHistory>
                            <RegistrationDate>
                                <Year>2009</Year>
                                <Month>1</Month>
                                <Day>21</Day>
                            </RegistrationDate>
                        </ArticleHistory>
                        <ArticleCopyright>
                            <CopyrightHolderName>Springer-Verlag</CopyrightHolderName>
                            <CopyrightYear>1952</CopyrightYear>
                        </ArticleCopyright>
                        <ArticleGrants Type="Regular">
                            <MetadataGrant Grant="OpenAccess"/>
                            <AbstractGrant Grant="OpenAccess"/>
                            <BodyPDFGrant Grant="Restricted"/>
                            <BodyHTMLGrant Grant="Restricted"/>
                            <BibliographyGrant Grant="Restricted"/>
                            <ESMGrant Grant="Restricted"/>
                        </ArticleGrants>
                        <ArticleContext>
                            <JournalID>12536</JournalID>
                            <VolumeIDStart>3</VolumeIDStart>
                            <VolumeIDEnd>3</VolumeIDEnd>
                            <IssueIDStart>3</IssueIDStart>
                            <IssueIDEnd>3</IssueIDEnd>
                        </ArticleContext>
                    </ArticleInfo>
                    <ArticleHeader>
                        <AuthorGroup>
                            <Author>
                                <AuthorName DisplayOrder="Western">
                                    <GivenName>Sebastian</GivenName>
                                    <GivenName>Navarro</GivenName>
                                    <FamilyName>Sagrista</FamilyName>
                                </AuthorName>
                            </Author>
                        </AuthorGroup>
                    </ArticleHeader>
                    <NoBody></NoBody>
                </Article>
            </Issue>
        </Volume>
    </Journal>
</Publisher>